# macos specific stuff
.DS_Store

# linux specific stuff
tools/

# win32 specific stuff
*.aps

# common build directory.
build/
_build/

.vscode/
.vs/

# latex intermediate files
*.aux
*.fdb_latexmk
*.fls
*.log
reaper_ultraschall.pdf
